/*
  页面内外边距
*/
.avue-view{
  padding: 0px 5px !important;
}
.avue-tags{
  margin-bottom:5px !important;
}
.el-card__body{
  padding:5px 15px 45px 15px !important;
}

/*
  重置按钮样式
*/
.el-button+.el-button{
  margin-left:8px!important
}

/*
  列表分割线边距
*/
.el-divider--horizontal{
  margin: 5px 0 !important;
}

.detail-divider{
  margin: 11px 0 6px 0!important
}

/*
  新增编辑详情页面底部操作按钮
*/
.button-wrapper-footer {
  margin-top:10px;
  // width: 1166px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/*
  选择弹出对话框底部按钮
*/
.dialog-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  弹出对话框样式
*/
.el-dialog__wrapper{
  .el-dialog{
    padding-bottom:20px;
  }
  .el-dialog__header{
    padding-top:16px
  }
  .el-dialog__title{
    font-size: 14px;
    font-weight: 650;
  }
  .el-dialog__body{
    padding:0px 20px!important
  }
  .el-dialog__footer{
    padding-bottom:0;
  }
}
/*
  avue弹框样式
*/
.avue-crud__dialog .el-dialog__body {
  padding: 20px 20px 5px 10px !important;
}


/*
  分割线上方标题
*/
.title {
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #3e3e3e;
  line-height: 16px;
  margin-left:8px;
  margin-top:6px
}

/*
  列表头部操作区
*/
.operation-function{
  margin-bottom: 5px;
  // padding-left:15px
}

/*
  列表表格组件
*/
.el-table{

 thead{
   color:#000 !important;
 }
 th{
   padding:5px 0!important;
 }
 tbody tr td{
   padding:0!important;
 }
}


// .el-form .el-form-item {
//   margin-bottom: 10px;
// }

/*
  表单组件
*/
.el-form{
  .el-form-item{
    margin-bottom:2px
  }
}


/*
  下拉框树状结构输入框过滤
*/
.el-select-tree-input{
  width:100%;
  padding:0 10px;
  box-sizing:border-box;
  margin-top:5px
}

.el-select-tree-option{
  margin:10px 0
}



/*
  分页组件
*/
.pagination-wrapper {
  margin-top: 5px;
  padding:0 15px;
  display: flex;
  flex-direction: row-reverse;
  .el-input__inner{
    height:28px!important
  }
}

.selectAdd,.noDataSelectAdd{
  margin:5px 0 0 20px;
  font-size:14px;
  color: #606266;
  cursor: pointer
}
.noDataSelectAdd{
  margin:10px 0 10px 20px;
}
